<!--
  method: post
  action: /form-response

  params[:from]
  params[:to]
  params[:subject]
  params[:content]
-->

<form id="cnt_form" action="/form-response" method="post">
  <label class="cnt_labels" for="from">Email Address:</label>
  <input class="cnt_input" type="text" name="from" value="" placeholder="email@address.com">
  <label class="cnt_labels" for="subject">Subject:</label>
  <select id="cnt_subject" class="cnt_input">
    <option value="1">Order Inquiry</option>
    <option value="2">Product Info</option>
    <option value="3">Returns</option>
  </select>
  <!-- <input type="text" name="subject" value=""> -->
  <label id="cnt_msg_lbl" for="contect">Message:</label>
  <textarea id="cnt_msg" name="content" rows="25" cols="50"></textarea>
  <input id="cnt_submit" type="submit" name="submit" value="submit">
</form>
