<!--
  method: post
  action: /form-response

  params[:from]
  params[:subject]
  params[:content]
-->

<form id="cnt_form" action="/form-response" method="post">
  <label class="cnt_labels" for="from">Email Address:</label>
  <input id="cnt_email" class="cnt_input" type="email" name="from" value="" placeholder="email@address.com">
  <label class="cnt_labels" for="subject">Subject:</label>
  <select id="cnt_subject" class="cnt_input" name="subject">
    <option value="1">Order Inquiry</option>
    <option value="2">Product Info</option>
    <option value="3">Returns</option>
  </select>
  <label id="cnt_msg_lbl" for="content">Message:</label>
  <textarea id="cnt_msg" name="content" rows="25" cols="50"></textarea>
  <input id="cnt_submit" type="submit" value="submit">
</form>
<nav id="cnt_FAQ">
  <p class="cnt_p">
    Our company is all about customizing your needs. What does that mean, well let me explain! we show you how to find the right product for your hair and skin. Normally products are chosen just according to the problem.
  </p>
  <p class="cnt_p">
    Example:
    Hair: texture, dry, or damage
    Skin: dry, oily skin or aging skin
  </p>
  <p class="cnt_p">
    What people don’t realize is that when it comes to your hair, skin or body washes you have to choose according to your texture of hair,  your skin type, your heritage background. All skins are different and have different pigments. Here we help you find the right product for your needs. We have chosen the top 14 products that we recommend.
  </p>
  <p class="cnt_p">
    Please contact us to further customize the products for your needs.  Fill out the form and explain your problems.
  </p>
</nav>
<script type="text/javascript" src="beauty_cnt.js"></script>
