<!--
  method: post
  action: /form-response

  params[:from]
  params[:subject]
  params[:content]
-->

<form id="cnt_form" action="/form-response" method="post">
  <label class="cnt_labels" for="from">Email Address:</label>
  <input id="cnt_email" class="cnt_input" type="email" name="from" value="" placeholder="email@address.com">
  <label class="cnt_labels" for="subject">Subject:</label>
  <select id="cnt_subject" class="cnt_input" name="subject">
    <option value="1">Order Inquiry</option>
    <option value="2">Product Info</option>
    <option value="3">Returns</option>
  </select>
  <label id="cnt_msg_lbl" for="content">Message:</label>
  <textarea id="cnt_msg" name="content" rows="25" cols="50"></textarea>
  <input id="cnt_submit" type="submit" value="submit">
</form>
<script type="text/javascript" src="beauty_cnt.js"></script>
