<!--
  method: post
  action: /form-response

  params[:from]
  params[:to]
  params[:subject]
  params[:content]
-->

<form class="" action="/form-response" method="post">
  <input type="text" name="from" value="" placeholder="email@address.com">
  <input type="text" name="" value="">
  <input type="text" name="subject" value="">
  <input type="text-area" name="content" value="">
</form>
