
<div class="gall_container">
  <p><img id="gall_img0" src="/images/EditorsPicks5.jpg" alt=""></p>

  <h2>We’ve gathered the best products for every type, so whether its your skin or hair there’s a pairing for you.</h2>



    <div class="gall_foolproof">
        <p><img id="gall_img7" src="/images/floatingpic.gif" alt=""></p>
        <p><img id="gall_img1" src="" alt=""></p>
        <p><img id="gall_img2" src="/images/foolproof.jpg" alt=""></p>
        <p><img id="gall_img3" src="/images/baremin.jpg" alt=""></p>
        <p><img id="gall_img4" src="/images/2editorPick.jpg" alt=""></p>
        <p><img id="gall_img5" src="/images/editorsPic3.jpg" alt=""></p>
        <p><img id="gall_img6" src="/images/EditorsMAC4.png" alt=""></p>

  </div>
</div>floatingpic
