<div class="potion9">

    <img id="img1" src="/images/potion9.jpg" alt="">

    <p id="p1">
        Potion #9
    </p>
    <br>

    <p id="p2">
        Potion 9 is the ultimate versatile styling cream infused with 9 Botanical extracts to help restore lost moisture, and rejuvenate the healthy look of your hair. Perfect for styling your hair into multiple looks with flexible hold.
    </p>
    <br>
</div>

<div class="penetraitt">

    <img id="img2" src="/images/penetraitt.jpg" alt="">

    <p id="p3">
        Potion #9
    </p>
    <br>
    <div id="p4">
        Sebastian Penetraitt Treatment Mask

        <p id="5">
            deeply strengthens and repairs damaged and chemically treated hair. This professional hair treatment intensely moisturises and fortifies the hair and acts as a stress guard for damaged, weak and over processed hair.
            <br>
            Formulated with an Active Repair System, Penetraitt Treatment Mask penetrates the hair to deliver essential nutrients to restore health and vitality to the hair.
            <br>
            Colour safe, Penetraitt Treatment Mask is ideal for stressed, dull and chemically damaged hair and helps to prevent further damage whilst leaving the hair with renewed strength and a silky, shiny and soft texture.
        </p>
    </div>
</div>
