
<!-- <div class="gall_container"></div> -->
  <p><img id="gall_img0" src="/images/EditorsPicks5.jpg" alt=""></p>

  <h2>We’ve gathered the best products for every type, so whether its your skin or hair there’s a pairing for you.</h2>



    <!-- <div class="gall_foolproof"> -->
        <div id="gall_img1"></div>
        <div id="gall_img2"></p>
        <div id="gall_img3"></div>
        <div id="gall_img4"></div>
        <div id="gall_img5"></div>
        <div id="gall_img6"></div>
        <div id="gall_img7"></div>
  <!-- </div> -->
