<div class="gall_container"></div>
<p id= "gall_img1"></p>

  <!-- <p><img id="gall_img0" src="/images/EditorsPicks5.jpg" alt=""></p> -->

  <h2>We’ve gathered the best products for every type, so whether its your skin or hair there’s a pairing for you.</h2>
  <!-- /images/EditorsPicks5.jpg -->


    <!-- <div class="gall_foolproof"> -->
  <img id="gall_img0" src="/images/haircareList.jpg" alt="">
  <img id="gall_img3" src="/images/foolproof.jpg" alt="">
  <img id="gall_img4" src="/images/baremin.jpg" alt="">
  <img id="gall_img5" src="/images/2editorPick.jpg" alt="">
  <img id="gall_img6" src="/images/editorsPic3.jpg" alt="">
  <img id="gall_img7" src="/images/EditorsMAC4.png" alt="">
