<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Be Beautiful!</title>
    <link rel="stylesheet" href="beauty.css">
  </head>
  <body>
      <div id="lay_container">
        <header>
          <nav id="lay_nav">
              <ul id="lay_ul">
                <li class="lay_li"><a class="lay_a" href="/">Home</a></li>
                <li class="lay_li"><a class="lay_a" href="/product">Products</a></li>
                <li class="lay_li"><a class="lay_a" href="/Gallery">Gallery</a></li>
              </ul>
              <a id="lay_btn" href="/Contact">Contact Us</a>
          </nav>
        </header>
        <div id="lay_main">
        <%= yield%>
        <div>
        <footer>
        </footer>
      </div>
    <script type="text/javascript" src="beauty.js"></script>
  </body>
</html>
