<div class="pro_container">
 <img id="pro_img0" src="/images/fav_pproduct.jpeg" alt="">
  <h1>You’ll spend hours—and a whole paycheck—pampering your face. The best body oil, exfoliating scrub, dry-skin moisturizers, and more are right this way…</h1><br>

  <h2 id="pro_h1">SKIN</h2>
  <p>The skin plays a key role in protecting the body against pathogens and excessive water loss. Its other functions are insulation, temperature regulation, sensation, and the production of vitamin D folates. Severely damaged skin may heal by forming scar tissue. This is sometimes discoloured and depigmented. The thickness of skin also varies from location to location on an organism. In humans for example, the skin located under the eyes and around the eyelids is the thinnest skin in the body at 0.5 mm thick, and is one of the first areas to show signs of aging such as "crows feet" and wrinkles. </p>

  <div class="pro_eye">

      <img id="pro_img1" src="/images/1guinot.jpg" alt="">

      <p id="pro_p1">
          Guinot’s NEW Crème Age Summum
      </p>
      <br>
      <div id="pro_p2">Crème Age Summum

          <p id="pro_p3">

            Guinot’s NEW Crème Age Summum
            Launching February 2017
            Guinot’s new Crème Age Summum helps to restore the skin’s immunity, giving it the strength to fight the effects of aging while creating youthful, glowing skin. With ingredients like Vitamin C, this nourishing cream eliminates dark spots, wrinkles, and evens skin tone. Guinot’s Cellular Life Complex helps regenerate the skin resulting in a smooth, firm and a longer lasting radiant complexion.
         </p>
         <p id="pro_p4">For use:
           Apply morning and/or evening to the face and neck after cleansing thoroughly.
           Key Ingredients:
           -Vitamin C
           Fights against free radicals and eliminates dark spots.
           -ATP - Actinergie
           Stores essential energy for continued radiance enhancing the skin’s tone and vitality.
           -Cellular Life Complex
           Provides essential elements to regenerate skin for a brighter, more even appearance and longer lasting results.
           - Amino Acids Derivative
           Fights the signs of aging.<br>
           <a href="http://www.guinotusa.com/guinot-news/guinots-new-creme-age-summum-2017-03-24/">Guinot: Crème Age Summum</a>
         </p>
      </div>

  <div class="pro_mask">

      <img id="pro_img2" src="/images/guinotMask.jpg" alt="">

      <p id="pro_p5">
          Guinot's NEW Age Logic Eye Mask
      </p>
      <br>
      <div id="pro_p6">Age Logic Eye Mask

          <p id="pro_p7">

            Guinot’s new Age Logic Eye Mask soothes puffiness, brightens dark circles, and works as a secret weapon for wrinkles and fine lines. Filled with energizing ingredients such as Vitamin C, this mask is perfect before a special night out to firm up the skin and create a youthful glow. For maximum efficacy, the mask can be used weekly for four weeks in tandem with Guinot’s Eye Logic facial.

            For Use:
            Apply the mask to the eye contour. Leave on for eight minutes. After removing the mask, massage in the remaining gel.<br>
            Key Ingredients:
            -Dermochlorella (green micro-algae extract):
            Helps stimulate circulation and promotes drainage in the upper and lower eyelids
            -ATP
            Stores essential ingredients for younger looking skin
            -Actinergie
            Increases oxygenation of the skin
            -Dynalift
            Firms the skin <br>
            <a href="http://www.guinotusa.com/guinot-news/guinots-new-age-logic-eye-mask-2016-11-15/">Guinot: Age Logic Eye Mask </a>
          </p>
      </div>

  <div class="pro_tropez">

      <img id="pro_img3" src="/images/StTropez.jpg" alt="">

      <p id="pro_p8">
        St. Tropez Tanning Essentials
        Self Tan Classic Bronzing Mousse
      </p>
      <br>

      <p id="pro_p9">
        What it is:
        A lightweight, easy-to-apply classic mousse that dries quickly with no self tan smell and an even fade.

        What it is formulated to do:
        For an iconic, natural, and healthy-looking tan, this newly formulated, lightweight classic mousse tailors to your individual skin tone, for that longest-lasting tan in one application. It’s streak-free, easy to apply, quick-drying, non-sticky with no transfer, and ultra-hydrating. Plus, it has no self tan smell, yet features a new mood-boosting fragrance.

        What it is formulated WITHOUT:
        - Parabens
        - Sulfates
        - Phthalates

        What else you need to know:
        This product contains a 100 percent natural DHA and is clinically proven to moisturize for up to 24 hours.
      </p>
      <p id="pro_p10">Suggested Usage:
        -Exfoliate 24 hours prior to use. Immediately prior to application, moisturize any dry areas including elbows, knees, ankles, and feet.
        -For best results, apply using the Tan Applicator Mitt in long sweeping motions, starting at the ankles and working your way up. For your back, turn the mitt back to front and start applying in the same way. Ensure all areas are covered before lightly gliding any excess tan from the mitt over your hands and feet.
        -Wait until touch dry before getting dressed.
        -Allow four to eight hours before showering to reveal your developed tan.
        -To prolong and maintain your tan, moisturize daily, exfoliate regularly, and reapply as desired.

        Precautions:
        -Carry out a patch test 24 hours before use.
        -External use only.
        -Don’t apply to broken or irritated skin.
        -Stop if irritation occurs.
        -Self tan may stain.
        -Avoid contact with eyes or lips and rinse if contact occurs.
        -Sun safety warning: this product does not contain a sunscreen and does not protect against sunburn. <br>
        <a href="http://www.sttropeztan.com/self-tan-classic-bronzing-mousse-240ml/">St.Tropez: Tanning</a>
      </p>
    </div>


  <div class="pro_jergens">

      <img id="pro_img4" src="/images/jergens.png" alt="">

      <p id="pro_p11">
          JERGENS Natural Glow
      </p>
      <br>
      <div id="pro_p12">3 Days to Glow™ Moisturizer


          <p id="pro_p13">
            Jump-start your natural-looking color in just one day

            With the exclusive Glow Perfecting® Complex, JERGENS® Natural Glow® 3 Days to Glow™ Moisturizer provides natural-looking summer color FAST! Jumpstart your color within 1 day and get a full shade of color in just 3 days.

            Proprietary blend of skin tone-specific color enhancers
            No sunless tanner odor
            Contains antioxidants
            Designed for Fair to Medium and Medium to Tan skin tones
          </p>
          <p id="pro_p14">GLOW TIPS FROM EXPERTS

          For the most natural-looking color, be sure to exfoliate before first use.
          Use sparingly on dry areas like knuckles, knees, ankles and in
          between fingers/toes.
          Choose the right shade based on your natural skin tone
          or your starting point.
          Smooth on evenly and thoroughly just as you would
          with any moisturizer.
          Use daily until you have achieved the desired
          level of color, then reapply 1-2x/week.
          We guarantee natural-looking color.
          Not Satisfied? Click here. <br>
          <a href="http://www.jergens.com/products/natural-glow/daily-moisturizer.aspx">Jergens: Natural Glow</a>
        </p>
      </div>

  <div class="pro_clinique">

      <img id="pro_img5" src="/images/clinique.jpg" alt="">

      <p id="pro_p15">
          CLINIQUE BODY BUTTER
      </p>
      <br>
      <div id="pro_p16"> Body Moisturizer

          <p id="pro_p17">
            Deep Comfort™ Body Butter
            Luxurious, butter-rich body cream penetrates dryness-prone skin, delivering a new kind of softness to elbows, knees, heels. So silky, skin drinks it up instantly, stays soothed and comforted all day.
            </p>
            How to Use
            Apply liberally to clean, towel-dried skin after showering, bathing or whenever skin needs a moisture boost.
            Pay particular attention to rough, dry areas such as elbows and knees.
            Not intended for face or neck.<br>
            <a href="http://www.clinique.com/product/1686/6089/skin-care/hand-body-care/deep-comfort-body-butter">Clinique: Body Moisturizer</a>
          </p>
      </div>
      <div class="pro_aveeno">

          <img id="pro_img6" src="/images/aveenoFaceWash.png" alt="">

          <p id="pro_p18">
            AVEENO POSITIVELY RADIANT BRIGHTENING CLEANSER

          </p>
          <br>
          <div id="pro_p19"> Radiant Brightening Cleanser

              <p id="pro_p20">
                Helps even skin tone and texture to reveal brighter, more radiant skin.

                This brightening cleanser helps improve skin tone, texture and clarity. Formulated with ACTIVE NATURALS® moisture-rich soy extract, it lifts away dirt, oil and makeup leaving your skin looking luminous. It is gentle enough for everyday use. It’s also oil free, hypoallergenic and noncomedogenic.

                <a href="http://www.aveeno.com/product/aveeno-+positively+radiant-+brightening+cleanser++.do?sortby=ourPicks&from=fn">Aveeno: Radiant Brightening Cleanser</a>
              </p>
          </div>
          <div class="pro_nivea">

              <img id="pro_img7" src="/images/niveaCreme.jpg" alt="">

              <p id="pro_p21"> NIVEA CREME


              </p>
              <br>
              <div id="pro_p22"> The unmatched moisturizer for every skin type, for children as well as for adults and during all seasons.

                  <p id="pro_p23">
                    A rich, creamy moisturizer that smoothes and softens every inch of skin. An intensive moisturizing solution for extremely dry skin. Can be used all over the body, and best for rough spots such as knees, feet, elbows and hands.

                    <a href="http://www.niveausa.com/products/NIVEA-Creme">Nivea: Creme</a>
                  </p>
              </div><br><br><br>
 <!-- ******************* HAIR SECTION ************************ -->

            <h2 id="pro_h2">We’ve gathered the best shampoos and conditioners for every hair type, including dry and oily. So whether you’re a curly girl or just on a constant quest to protect your color-treated strands, there’s a shampoo and conditioner pairing for you.</h2>
            <br>

            <h2 id="pro_h3">HAIR</h2><br>
            <p>Hair is made of a tough protein called keratin. A hair follicle anchors each hair into the skin. ... In the hair bulb, living cells divide and grow to build the hair shaft. Blood vessels nourish the cells in the hair bulb, and deliver hormones that modify hair growth and structure at different times of life.</p>

            <div class="pro_potion9"><br>

            <img id="pro_img8" src="/images/1potion9.jpg" alt="">

            <p id="pro_p24">
            Potion #9
            </p>
            <br>

            <p id="pro_p25">
            Potion 9 is the ultimate versatile styling cream infused with 9 Botanical extracts to help restore lost moisture, and rejuvenate the healthy look of your hair. Perfect for styling your hair into multiple looks with flexible hold.
            <a href="https://www.sebastianprofessional.com/en-US/products/styling/potion9?&utm_source=google&utm_medium=cpc&utm_term=potion%209%20sebastian&utm_campaign=Sebastian_Search_Brand_Awareness&utm_content=sdA0WFYMR|dc_91713354627_e_potion%209%20sebastian&gclid=Cj0KEQjww7zHBRCToPSj_c_WjZIBEiQAj8il5C4qPZ5lx4Pk9U3MiTREXSbYcsvcpB9LKHjnc6yhG0caAufO8P8HAQ">Sebastian: Potion9</a>
         </p>
  </div>


<div class="pro_penetraitt">

    <img id="pro_img9" src="/images/1penetraitt.jpg" alt="">

    <p id="pro_p26">
        Sebastian Penetraitt Treatment Mask
    </p>
    <br>
    <div id="pro_p27">Sebastian Penetraitt Treatment Mask


        <p id="pro_p28">
            deeply strengthens and repairs damaged and chemically treated hair. This professional hair treatment intensely moisturises and fortifies the hair and acts as a stress guard for damaged, weak and over processed hair.
            <br>
            Formulated with an Active Repair System, Penetraitt Treatment Mask penetrates the hair to deliver essential nutrients to restore health and vitality to the hair.
            <br>
            Colour safe, Penetraitt Treatment Mask is ideal for stressed, dull and chemically damaged hair and helps to prevent further damage whilst leaving the hair with renewed strength and a silky, shiny and soft texture.
            <a href="https://www.sebastianprofessional.com/en-US/products/care?filter=PENETRAITT">Sebastian: Penetraitt Treatment Mask</a>
        </p>
    </div>

<div class="pro_nigelle">

    <img id="pro_img10" src="/images/hair-design-zone-products_milbon.jpg" alt="">

    <p id="pro_p29">
        Nigelle AX Hair Treatment
    </p>
    <br>
    <div id="pro_p30">Nigelle AX Hair Treatment

        <p id="pro_p31">
          Hair Treatment  A, S, & B+, ER helps the damage caused by chemical treatments is distinct and different depending on the hair type.<br>
          So the correct combination of NIGELLE AX shampoo and treatment is doubly effective, leaving hair healthy and beautiful from the roots to the very ends. <br>
          Nigelle AX Treatment B+ is made for hair that is damaged from heat. <br>
          A perfect condition from the roots to the ends for outstanding styling.<br>
          Emoliating rough, stiff ends. Thermal reconditioned hair.
          <p id="pro_p32">Features:</p>
          <ul>
            <li>For heat damaged hair</li>
            <li>Problem: Rough and stiff due to dehydration</li>
            <li>Solution: Ceramide and protein penetrate hair</li>
            <li>Restoring moisture</li>
          </ul>
          </p>
          HOW TO USE:
          After shampooing, lightly remove excess water. Apply this product to whole hair, mainly at the ends.<br>
          Lightly rub the ends then rinse away with warm water.
          <a href="https://www.amazon.com/s/?ie=UTF8&keywords=nigelle+ax+hair+treatment+a&tag=googhydr-20&index=aps&hvadid=177594040543&hvpos=1t1&hvnetw=g&hvrand=8865270012097741104&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9004286&hvtargid=kwd-43569680648&ref=pd_sl_8ssqn3c2f7_b">Nigelle AX Hair Treatment</a>
          <a href="https://www.milbon-usa.com/">Milbon USA</a>
        </p>
    </div>
<div class="pro_biolage">

    <img id="pro_img11" src="/images/Matrix Biolage advanced fiberstrong Masque.jpg" alt="">

    <p id="pro_p33">
        FIBERSTRONG INTRA-CYLANE FORTIFYING CREAM
    </p>
    <br>
    <div id="pro_p34">FORTIFYING CREAM

        <p id="pro_p35">

          Fragile hair tends to feel dry to the touch, lacking shine and manageability. <br>
          Biolage FiberStrong Intra-CylaneTM Fortifying Cream was formulated to target these needs with the power of Intra-CylaneTM, bamboo and ceramide for repairing damaged, fragile hair.<br>
          When used with the FiberStrong Shampoo and FiberStrong Conditioner your hair is stronger and more conditioned. <br>
          Strengthen weak, fragile hair. 12X stronger after one application*.<br>
          *When using the system of FiberStrong Shampoo, Conditioner and Intra-CylaneTM Fortifying Cream vs. a non-conditioning shampoo.<br><br>
          - Paraben free leave-in cream conditions and strengthens hair - Reinforces fragile hair and moisture balance for healthier looking hair - Hair is left more resistant to damage, fragile areas of the hair are fortified with Bamboo and Ceramides. <br>
          <br>

          HOW TO USE
          After using shampoo and conditioner, towel dry and work the cream evenly through damp hair and style as usual. For better results, we recommend that you combine with the FiberStrong Shampoo and FiberStrong Conditioner.
          <a href="https://www.matrix.com/biolage/advanced/fiberstrong/fiberstrong-intra-cylane-fortifying-cream">Matrix: FIBERSTRONG INTRA-CYLANE FORTIFYING CREAM</a>
        </p>
    </div>
<div class="pro_nexxus">

    <img id="pro_img12" src="/images/nexxus.jpg" alt="">

    <p id="pro_p36">
      NEXXUS OIL INFINITE REGIMEN
    </p>
    <br>
    <div id="pro_p37">OIL INFINITE REGIMEN

        <p id="pro_p38">
          Enriched with Elastin Protein, and Babassu and Marula oil for hair
          Certified salon quality for thick hair nourishes deeply
          Smoothes and cleanses hair for soft, glossy locks
          Helps replenish lipids and strengthen hair while retaining natural movement
          Light, silicone-free formula is ideal for thick, frizzy hair
          <br>

          HOW TO USE
          After using shampoo and conditioner, towel dry and work the cream evenly through damp hair and style as usual. For better results, we recommend that you combine with the FiberStrong Shampoo and FiberStrong Conditioner.
          <a href="http://www.nexxus.com/default/shop-by/regimen/oil-infinite/">NEXXUS: OIL INFINITE REGIMEN</a>
        </p>
    </div>
  </div>
</div>
