/*Layouts elements*/
body{
  font-family: 'Cinzel', serif;
}
header{
  position: relative;
  top: 0px;
  z-index: 900px;
  display: block;
  width: 100%;
  height: 80px;
  background: #FCA7CC;
  color: white;
}

#lay_container{
  position: absolute;
  top: 0px;

}

#lay_nav{
  margin: 0;
  width: 100%;
  height: 75px;
}

#lay_ul{
  display: inline-block;
  max-width: 1000px;
  margin-top: 32px;
  text-decoration: none;
}

.lay_li{
  display: inline-block;
  padding-right: 100px;
  font-family: 'Cinzel', serif;
  font-size: 24px;
}

.lay_a{
  text-decoration: none;
  color: white;
}

#lay_btn{
  width: 100px;
  height: 50px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  border: solid thin white;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 24px;
  color: black;
}

#lay_main{
  position: relative;
  top: 0px;
  width: 100vw;
  overflow-y: hidden;
}

footer{
  position: relative;
  top: 800px;
  height: 80px;
  background: #FCA7CC;
}

/*Home page element */
#home_main{
  position: relative;
  top: 0px;
  width: 100vw;
  overflow-y: hidden;
  height: 800px;
  font-family: 'Cinzel', serif;
  text-align: center;
  color: white;
}

#home_h1{
  margin: 0px 0px 40px 0px;
  font-family: 'Cinzel', serif;
  /*font-size: 24px;*/
  text-align: center;
  color: black;
}

#home_p{
  font-family: 'Cinzel', serif;
  font-size: 24px;
  color: black;
  text-align: center;
}

/*Contact Form element */

#cnt_form{
  position: fixed;
  margin: 25px;
}

.cnt_labels{
  padding-right: 5px;
}

.cnt_input{
  margin-right: 10px;
}

#cnt_subject{

}

#cnt_msg, #cnt_msg_lbl{
  display: block;
  margin: 5px 0 10px 0;
  padding-right: 10px;
}

#cnt_submit{
  margin-left: 35%;
}

#cnt_FAQ{
    display: inline-block;
    float: right;
    width: 620px;
    height: 470px;
    border-left: solid medium black;
}

.cnt_p{
  margin-left: 40px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  color: black;
}

/*Product page elements*/


/*Gallery page elements*/
