/*Layouts elements*/
body{
  font-family: Lato;
}
header{
  position: relative;
  top: 0px;
  z-index: 900px;
  display: block;
  width: 100%;
  height: 80px;
  background: #d89d81;
  color: white;
}

#lay_container{
  position: absolute;
  top: 0px;

}

#lay_nav{
  margin: 0;
  width: 100%;
  height: 75px;
}

#lay_ul{
  display: inline-block;
  max-width: 1000px;
  margin-top: 32px;
  text-decoration: none;
}

.lay_li{
  display: inline-block;
  padding-right: 100px;
  font-family: Lato;
  font-size: 24px;
}

.lay_a{
  text-decoration: none;
  color: white;
}

#lay_btn{
  width: 100px;
  height: 55px;
  margin: 16px;
  padding-top: 5px;
  float: right;
  border: solid thin white;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  color: black;
}

#lay_main{
  position: relative;
  top: 0px;
  width: 100vw;
  overflow-y: hidden;
}

footer{
  position: relative;
  top: 800px;
  height: 80px;
  background: #d89d81;
}

/*Home page element */
#home_main{
  position: relative;
  top: 0px;
  width: 100vw;
  overflow-y: hidden;
  height: 800px;
  font-family: Lato;
  text-align: center;
  color: white;
}

#home_h1{
  margin: 0px 0px 40px 0px;
  font-family: Lato;
  /*font-size: 24px;*/
  text-align: center;
  color: black;
}

#home_p{
  font-family: Lato;
  font-size: 24px;
  color: black;
  text-align: center;
}

/*Contact Form element */

#cnt_form{
  position: fixed;
  margin: 25px;
}

.cnt_labels{
  padding-right: 5px;
}

.cnt_input{
  margin-right: 10px;
}

#cnt_subject{

}

#cnt_msg, #cnt_msg_lbl{
  display: block;
  margin: 5px 0 10px 0;
  padding-right: 10px;
}

#cnt_submit {
  margin-left: 12%;
}

/*Product page elements*/



/*Gallery page elements*/
/*.gall_container {
  width: 200px;
  height: 200px;
}*/

/*.gall_foolproof {
  margin: auto;
  display: flex;
  flex-direction: row
  flex-grow: 1;
}*/

#gall_img1 {
  position: absolute;
  top: 450px;
  left: 100px;
  background-image: url("/images/floatingpic.gif");
  background-repeat: no-repeat;
  height:300px;
  width: 800px;
  z-index: 2;

}

/*#gall_img2 {
  position: absolute;
  background-image: url("/images/foolproof.jpg");
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
}

#gall_img3 {
  position: absolute;
  background-image: url("/images/baremin.jpg");
  background-repeat: no-repeat;
  bottom: right;
  height: 500px;
  width: 500px;
}

#gall_img4 {
  background-image: url("/images/2editorPick.jpg");
  background-repeat: no-repeat;
  height: 800px;
  width: 800px;
}

#gall_img5 {
  background-image: url("/images/editorsPic3.jpg");
  background-repeat: no-repeat;
  height: 1500px;
  width: 800px;
}

#gall_img6 {
  background-image: url("/images/EditorsMAC4.png");
  background-repeat: no-repeat;
  height: 1500px;
  width: 800px;
}*/
