header{
  height: 80px;
  background: #d89d81;
  color: white;
}

#home_main{
  height: 400px;
  text-align: center;
  color: white;
}

#home_h2{
  text-align: center;
  color: white;
}

li{
  display: inline-block;
}

footer{
  position: relative;
  /*bottom: 1200px;
  height: 800px;*/
  background: #d89d81;
}

/*.container {
 flex-wrap: wrap;

}*/
/*.potion9 {
  display: inline-block;
  /*border: 2px solid black;*/
  /*width: 400px;
  height: 600px;
  top: 50px;*/
}

/*.penetraitt {
  display: inline-block;*/
  /*border: 2px solid black;*/
  /*width: 400px;
  height: 600px;
  margin-left: 20px;*/
/*}
#p1 {
  text-align: center;
}
#img2 {
  width: 250px;
  height: 300px;*/
/*}*/
